.jumbotron {
    height: 10%;
    max-height: 180px;
    background-color: white;
    border-bottom: solid grey;
    padding-top: 2rem;
}

body {
    background-color: blue;
}

img {
    height: auto;
    width: 10%;
    max-width: 200px;
}

.container{
    margin: auto
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    text-decoration: underline;
}

h2{
    font-style: normal;
}

ul {
    list-style: none;
}

.options {
    text-align: right;
    margin-right: 3rem;
}

.devoured {
    text-align: left;
    font-style: italic;
    margin-left: 3rem;
}

.devour_btn {
    margin: 2%;
    background-color: red;
    color: yellow;
}

.row {
    margin-top: 2rem;
    text-align: center;
}